.link-message a
{
    padding:10px;
    font-weight: bold;
}
.p-message p{
    color:deepskyblue;
    font-weight: bolder;
}
.link-reseaux li{
    display: inline-block;
    position: relative;
    padding-left: 5px;

}